.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.shapeAbout{
    /* background-color: rgba(255, 255, 255, 0.041); */
    background-color: #1a1a1a;
    padding: 3em;
    border: 2px solid rgba(255, 255, 255, 0.055);
    box-shadow: 0 0 10px rgba(8,7,16,0.6);
    margin-top: 15px;
    margin-bottom: 15px;
    
  }


.about-content {
    max-width: 900px; 
    margin: 15px;
    text-align: left;
}

.about-content h2 {
    margin-bottom: 10px;
    color: #d6be73; 
    font-size: 56px;
    font-weight: bold;
}

.about-content h3 {
    margin-top: 20px;
    color: #d6be73; 
    font-size: 20px;
    padding: 5px;
    margin-bottom: 0px;
}

.about-content h4 {
    margin-top: 20px;
    color: #d6d6d6;
    font-size: 20px;
    font-weight: normal;
    padding: 5px;
    
}

.about-content p {
    padding: 5px;
    margin-bottom: 10px;
    line-height: 1.6;
    color: #d6d6d6;
    font-size: 16px;
}


.about-content ul {
    margin-left: 30px;
    list-style-type: disc; 
    font-size: 16px;
}

.about-content ul li {
    margin-bottom: 5px;
    color: #d6d6d6;
}
